<html>
<head>
    <title>Why Edit Wikipedia?</title>
<!-- css here -->
  <style>
  body {
  font-family: 'Raleway', arial, serif;
  font-size: 30px;
background-image: url("https://openhatch.org/static/images/motif-eee.png");
}
#content { 
  width: 700px; margin: auto;

  }
p, h3, form {
    margin: 0 40px 30px 40px;
    }
input {
    width: 500px;
    height: 53px;
    font-family: 'Raleway', arial, serif;
    font-size: 35px;
    font-weight: bold;
    line-height:-1.3;
    }

  </style>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
</head>


<body>
  <div id="content">
  <h1>Oh No!</h1>
  <p>We're sorry, but we didn't find your user on Wikimedia!  Registration is free and easy, so <a href="http://en.wikipedia.org/w/index.php?title=Special:UserLogin&type=signup">Sign up here!</a>
  </p>
</div>

