{% extends 'base.html' %}
{% block username %}{% endblock %}

{% block content%}
  <h1>Are you editing Wikipedia?</h1>
  <h3>Helping you </h3>
  <p>
    Wikipedia is <em>our</em> project, <em>yours and mine</em>, and 4 Wikipedians is here to encourage participation! 4 Wikipedians can help you contribute by
letting
you
know
when you are
being
an
active editor and when you're not with lots of fun statistics and suggestions on pages that could use your help.
</p>

{% if not message %}
<p>
Enter a Wikipedia username below to get started!
</p>
{% endif %}


{% if message == "usernotfound"%}
<div class="error">
  <h3 style="display:inline;">Oh No!</h3>
  <p>We're sorry, but we didn't find your user on Wikimedia!  Registration is free and easy, so <a href="http://en.wikipedia.org/w/index.php?title=Special:UserLogin&type=signup">Sign up here!</a>
  </p>
</div>
{% endif %}

{% if message == "baduser" %}
<div class="error">
  <h3 style="display:inline;">Oh No! Oh My!</h3>
  We're sorry, but this is an invalid user
</div>
{% endif %}


  <form name="myform" onsubmit="return OnSubmitForm();" method="POST">
      {% csrf_token %}
      <input type="text"/>
      <input type="submit" value="Check!"/>
  </form>
</div>

{% endblock %}
