{% extends 'base.html' %}
{% block username %} {{ user.username }} {% endblock %}

{% block content%}
  <form name="myform" onsubmit="return OnSubmitForm();" method="POST">
      {% csrf_token %}
      <input type="text" value = "{{ user.username }}"/>
      <input type="submit" value="Check!"/>
  </form>

<p>


<div id="left">
<h3>{{ user.username }}</h3>
  <p>
    {{ user.username }} <em><strong class=
      {% if user.active %} "active">
        is
      {% else %}"inactive">is not
    {% endif %}</strong> an active editor.</em>
    {% if blocked %}
    <div class="error">
      <h3 style="display:inline;">Oh No! Oh My!</h3>
      Punk got banned
    </div>
    {% endif %}
  </p>
  <p>
    Their last edit was <b>{{ last_edit }}</b> days ago {% if user.this_mo > 1 %} and they've edited {{ user.this_mo }} times this month{% endif %}.
  </p>
  <p>
    {% if user.active %} To remain active they need {{ user.remainactiveamt }} posts in {{ user.remainactivedays }} days
    {% else %} To become active they need {{ user.remainactiveamt }} posts in {{ user.remainactivedays }} days 
    {% endif%}
  </p>
  <hr />
  <p>
    {{ user.username }} was created on {{ user.created }} and has {{ user.editcount }} edits
  </p>

</div> {# div id="left"#}

<div id="right">
  <h3>Recent Edits</h3>
<ul>
{% for edit in edits %}
  <li>
    <a href="https://secure.wikimedia.org/wikipedia/en/wiki/{{ edit.pagename }}">[[ {{ edit.pagename }} ]]</a> -- {{ edit.timestamp }} :
    <br/>
    &ldquo;{{ edit.comment }}&rdquo;
  </li>
{% endfor %}
</ul>
<br/>
</div>
{% endblock %}
