{% extends 'base.html' %}
{% block username %} {{ user.username }} {% endblock %}

{% block content%}
  <form name="myform" onsubmit="return OnSubmitForm();" method="POST">
      {% csrf_token %}
      <input type="text" value = "{{ user.username }}"/>
      <input type="submit" value="Check!"/>
  </form>

<p>
{{ user.username }} <strong class={% if user.active %} "active">is {% else %}"inactive">is not {% endif %}</strong> an active editor.
{% if not user.active %}
<br>All you need are five edits a month to be an active editor! Anyone can do it!
{% endif %}

{% if user.blocked %}
<div class="error">
  <h3 style="display:inline;">Oh No! Oh My!</h3>
  Bitch got banned
</div>
{% endif %}
</p>
<p>
Their last edit was <b>{{ last_edit }}</b> days ago {% if user.this_mo > 1 %} and they've edited {{ user.this_mo }} times this month{% endif %}.
</p>
<hr />
{{ user.username }} was created on {{ user.created }} and has {{ user.editcount }} edits
<br/>
<ul>
{% for edit in edits %}
    <li><a href="https://secure.wikimedia.org/wikipedia/en/wiki/{{ edit.pagename }}">[[ {{ edit.pagename }} ]]</a> -- {{ edit.timestamp }} : {{ edit.comment }} -- {{ edit.this_mo }}</li>
{% endfor %}
</ul>
<br/>
{% endblock %}
