<html>
<head>
    <title>{% block user %} {% endblock %}Why Edit Wikipedia?</title>
<!-- css start -->
<link rel="stylesheet" href="/s/style/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/s/style/style.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

<!-- css end -->

<!-- javascript start -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<!--<script src="/s/scripts/jquery.noisy.min.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {
    $('body').noisy()
    });
</script>
<!-- javascript end -->

</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1>Are you editing Wikipedia?</h1>
    <ul>
      <li><a href="/signup/">sign up</a></li>
      <li><a href="/login/">log in</a></li>
    </ul>
    <hr />
  </div> <!-- #header -->

  <div id="content">

  {% block content %}

  {% endblock %}

  </div> <!-- content -->
</div> <!-- wrapper -->

<div id="footer">
  <div style="margin: auto; width: 400px; font-size: 12px;">
    a hack by <a href="http://sethish.com">sethish</a>, <a href="">maxpev</a>, and <a href="">danny-san</a>. <a href="https://github.com/sethwoodworth/why_wiki">sauce on github</a>. licensed agpl
  </div>

  <div id="icons">
      <div id="wikipedia">
          <a href="http://en.wikipedia.org/">
          <img src='/s/imgs/Wikipedia-logo-v2-en_SVG.svg'></a>
          <br/>
          <a href="http://wikimediafoundation.org/wiki/File:Wikipedia-logo-v2-en_SVG.svg"><small>source</small></a>
      </div> <!-- wikipedia -->
      <div id="license">
          <a href="">
          <img style="height:100px;" src="/s/imgs/Affero_General_Public_License_3_Logo.svg"/>
          </a>
      </div> <!-- license -->
  </div> <!-- icons -->
</div> <!-- footer -->


</body>
</html>
